body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 50px;
}

.container {
  background-color: white;
  padding: 20px;
  width: 350px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}